body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    transition: background-color 0.9s, color 0.9s;
}

.light-mode {
    background-color: white;
    color: black;
}

.light-mode .navbar {
    background-color: #f8f9fa;
}

.light-mode .border {
    border-color: #ccc;
}

.dark-mode {
    background-color: #343a40;
    color: white;
}

.dark-mode .navbar {
    background-color: #495057;
}

.dark-mode .border {
    border-color: #666;
}

.terminal-mode {
    background-color: black;
    color: green;
}

.terminal-mode .navbar {
    background-color: #222;
}

.terminal-mode .border {
    border-color: #444;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    animation: fadeIn 1s ease-in-out;
}

h1, h2 {
    animation: slideInDown 1s ease-in-out;
}

.btn {
    animation: pulse 1.5s infinite;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.feature-card {
    margin-top: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInDown {
    from {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.custom-heading, .paragraph-text, .highlighted-text {
    margin: 10px 0;
}

.div-container {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.card {
    margin-bottom: 10px;
}

.chart-container img {
    width: 100%;
    height: auto;
}
